@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
html {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #222;
}

:where(header, .cell, .win-container, .options) {
  display: flex;
  align-items: center;
  justify-content: center;
}

button,
.cell {
  cursor: pointer;
}

header {
  height: 10%;
  background-color: #444;
  color: #fff;
  justify-content: space-between;
  padding: 0 24px;
}

header > h1 > span{
  font-size: 0.9rem;
}

.options > div:first-child{
  border-right: 1px solid #fff;
  padding: 0 10px;
}

:where(.wp-choice) {
  background-color: #111;
  color: #fff;
  padding: 10px 40px;
  font-size: 1.2rem;
  border: 0;
  border-radius: 10px;
}

.wp-choice:disabled {
  background-color: #fff;
  color: #111;
  cursor: default;
}

#name, #changeName{
  height: 35px;
  font-size: 1rem;
  padding: 0 10px;
}

#name{
  margin-left: 10px;
  color: #111;
}

#changeName{
  background: #111;
  color: #fff;
  border: 0;
}

main {
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
}

main > div {
  align-self: center;
}

.win-container {
  height: 8.5rem;
  color: #fff;
  font-size: 4rem;
  font-weight: bold;
  overflow-y: hidden;
  position: relative;
}

.win-display {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;
  text-align: center;
}

.game {
  background: #111;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  width: 400px;
  height: 400px;
  position: relative;
}

.cell {
  background: #aaa;
  font-size: 100px;
  color: #aaa;
  transition: color 0.5s;
}

#restart {
  background-color: #111;
  color: #aaa;
  font-size: 2rem;
  padding: 10px 50px;
  border-radius: 10px;
  border: 0;
  box-shadow: 2px 2px 10px #000;
  position: absolute;
  left: 50%;
  bottom: calc(-2rem - 40px);
  transform: translateX(-50%);
}

#restart:hover {
  background: #aaa;
  color: #111;
}
